.menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    font-weight: 600;
    text-align: center;
}
.menu-list::-webkit-scrollbar{
    display: none;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}